      - name: Sync ROM Source
        run: |
          mkdir -p ~/rom && cd ~/rom
          
          # Init repo
          repo init -u $ROM_URL -b $ROM_BRANCH --depth=1 --no-repo-verify --no-clone-bundle
          
          # Hapus SEMUA file yang mengandung remote github
          find .repo -name "*.xml" -exec grep -l 'remote.*github' {} \; | xargs -I {} rm -f {}
          
          # Clone Treble manifest
          rm -rf .repo/local_manifests
          git clone https://github.com/TrebleDroid/treble_manifest .repo/local_manifests -b android-15.0
          
          # Hapus replace.xml untuk non-AOSP
          if [[ "$ROM_URL" != *"android.git"* ]] && [[ "$ROM_URL" != *"platform"* ]]; then
            rm -f .repo/local_manifests/replace.xml
          fi
          
          # Re-init tanpa manifest yang bermasalah
          repo init -u $ROM_URL -b $ROM_BRANCH --depth=1 --no-repo-verify --no-clone-bundle --manifest-url=file://$(pwd)/.repo/manifests
          
          # Sync
          repo sync -c -j$(nproc --all) --force-sync --no-tags --no-clone-bundle --optimized-fetch --prune
